<html>
<head>
  <title>Django Gils CUU</title>
  <head/>
  <body>
    <div>
      <h1><a href"">Django Girls Blog</a></h1>
    </div>
    <div>
      <p>published:05.14.16, 04:43</p>
      <h2><a href="">My first post</a></h2>

      <p>Hi there!</p>
      <p> We are located on Chihuahua city, you guys should come and join us!</p>
      <p> The best experience at programming i ever had so far, im pretty excited with this..</p>
      <p> Lets see what happen.. </p>

    <strong>To be continue...</strong>

  </div>


</body>

</html>
